<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>

    <% include partials/header.ejs %>

    <div id="hero-image">
        <h1 id="hero-title"><%= title %></h1>
    </div>

    <div class="div-opis">
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Obiecałem ci, że się dowiesz co robiłem przez dwa weekendy. Właśnie to! Sporo nerwów mnie to kosztowało bo czasu było naprawdę mało. Lecz mam nadzieję czytasz to, więc się udało. Po raz kolejny bardzo zawikłany komplement ale lepszego nie jestem w stanie wymyślić. Jesteś moją muzą! Na dowód tego aplikacja napisana i opublikowana w cztery dni. To tylko świadczy jak wielkim natchnieniem mnie obdarzyłaś. Uwierz mi, dla mnie to nie lada wyczyn.</p>
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Spokojnie na chwilę obecną jedyny sposób by się tu dostać to link, który ci przesłałem. W wynikach wyszukiwania google nie jest to dostępne, więc ostrożnie linkiem. </p>
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Jak możesz się domyślać poniosła mnie trochę fantazja gdy komponowałem komplet bielizny. Ponieważ znam już trochę twoje ciało było mi łatwiej i niezwykle przyjemnie. Oczyma wyobraźni rozbierałem cię z tych łaszków tak wiele razy, że aż wstyd mi jest się przyznać. Za każdym razem fantazje ponosiły mnie dalej, a ty wyglądałaś w nich coraz piękniej. Chciałaś wiedzieć o czym fantazjuję i czego pragnę? Odpowiedź brzmi Ciebie, tak ubranej i tego byś mi się oddała, o resztę zadbam ja. Część dalsza Nastąpi...</p>
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Będzie mi niezmiernie miło jeżeli będę mógł ci wręczyć prezent w postaci tej bielizny lub innej, którą wybierzesz. Nie przejmuj się też jeżeli nie trafiłem w twój gust a ty na przykład już wiesz co chcesz ubrać na nasze spotkanie. Ty moja czarodziejko na pewno wyglądasz dobrze we wszystkim. A ja jestem szczęśliwy na samą myśl, że będzie mi dane rozkoszować się widokiem Ciebie i twojego pięknego ciała. W cokolwiek nie będziesz ubrana.</p>
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Jeszcze raz wszystkiego najlepszego Najpiękniejsza.</p>
        <div class="new_link">
            <a href="/niegrzeczna">
                <h2 class="movie-header">KLIKNIJ BY WRÓCIĆ DO STRONY GŁÓWNEJ</h2>  
            </a>       
        </div>
    </div>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
</body>
</html>