<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
        <div id="main-image">
            <img src="../images/1.jpg" alt="Zdjęcia" class="slider slider-raz">
            <img src="../images/2.jpg" alt="Zdjęcia" class="slider slider-dwa">
            <img src="../images/3.jpg" alt="Zdjęcia" class="slider slider-trzy">
            <img src="../images/4.jpg" alt="Zdjęcia" class="slider slider-cztery">
            <img src="../images/5.jpg" alt="Zdjęcia" class="slider slider-piec">
            <img src="../images/napis.png" alt="Napis" class="slider-napis slider-napis-start">
        </div>
        <div class="div-opis display-none">
            <p class="new-font">Work in progress</p>
            
            <a href="/start">
            <div class="div-przycisk">
                Wersja Oryginalna - Początek
            </div>
            </a>
            <a href="/niegrzeczna">
            <div class="div-przycisk">
                Wersja Oryginalna - Niegrzeczna
            </div>
            </a>
        </div>
    </div>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
    
    <script src="../javasripts/script.js"></script>
</body>
</html>