<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
        <div id="main-image">
            <img src="../images/1.jpg" alt="Zdjęcia" class="slider slider-raz">
            <img src="../images/2.jpg" alt="Zdjęcia" class="slider slider-dwa">
            <img src="../images/3.jpg" alt="Zdjęcia" class="slider slider-trzy">
            <img src="../images/4.jpg" alt="Zdjęcia" class="slider slider-cztery">
            <img src="../images/5.jpg" alt="Zdjęcia" class="slider slider-piec">
            <img src="../images/napis.png" alt="Napis" class="slider-napis slider-napis-start">
        </div>
        <div class="div-opis display-none">
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Witaj, najpiękniejsza Księżniczko! Wszystkiego najlepszego, ponownie z okazji urodzin! Nie wieżę, że już rok minął, od kiedy opublikowałem tę aplikację. Dla mnie te dwanaście miesięcy trwało jak by dłużej. Pierwszy rok w życiu, który wydawał się płynąć wolniej od poprzedniego. Choć czas często znikał w mgnieniu oka. Czy Ty też masz takie wrażenie?</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Mam nadzieję, że u ciebie wszystko układa się dobrze. Wszyscy są zdrowi, Julia nie przysparza ci zbyt dużego bólu głowy, Ala jest szczęśliwa a Jerzy nie generuje problemów nadto. Mam też nadzieję, że zaprowadzasz swój upragniony porządek w domu. Na pewno dzieje się tam dużo magicznego chaosu. Oczyma wyobraźni widzę Ciebie – cudownie spoconą, w kusej pasiastej sukience - uporządkowującą najskrytsze zakamarki mieszkania. Wyglądającą tak jak wtedy, gdy kończyła się nasza wspólna droga. Tyle tylko, że szczęśliwą i dumną z swoich osiągnięć. A osiągnęłaś naprawdę sporo na tak wielu płaszczyznach. Daj sobie trochę luzu czasami. Zauważ jak wiele zdobyłaś – jak dużo zmieniłaś na lepsze. Doceń to i ciesz się tym. Ja jestem dumny z tego, że było mi dane być świadkiem twej cudownej przemiany.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Najsilniejsza</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Jesteś naprawdę najsilniejszą osobą jaką znam. Nawet przy mojej zawziętości, odnoszę wrażenie, że jesteś silniejsza niż ja – ostatnio zaczynam już tego być nawet pewien. Najpierw przez lata strzegłaś swą niezwykle ciężką rodzinę – pełniłaś rolę matki i ojca zarazem. Wykazałaś przy tym ponadludzką wolę. Ciągłe radzenie sobie z psychopatą, narcyzem i alkoholikiem to była droga przez mękę. Dopełniając tragedii pierworodna odziedziczyła pełne spektrum cech osobowościowych po ojcu, więc interakcje z nią nie pomagają. Wszystko to potęguje fakt, że tobie tak bardzo zależy – to z jednej strony czyni cię tak piękną osobą, z drugiej zaś przysparza ci sporo smutku. To jak dawałaś sobie radę, jak się starałaś, jest naprawdę podziwu godne. Jeszcze bardziej podziwiam fakt, iż udało ci się zerwać pasożytniczą relację. Oswobodzenie się z takiego związku osobie współużależnionej to istny akt bohaterstwa. Zwłaszcza w twoim przypadku gdyż jesteś osobą z niezwykle piękną i czystą duszą, której zło jest praktycznie całkowicie obce. To jest powód, dla którego nie mogłaś przejrzeć na oczy wcześniej. To jest powód, dla którego pewnych rzeczy nie rozumiałaś. Jesteś niesamowicie silna i dobra. Proszę nie dręcz siebie za to.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Najpiękniejsza</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Nie porzucaj najpiękniejszej strony siebie. Jak pisałem wyżej, nie wiń siebie za to, że byłaś cudowną partnerką i najlepszą matką, jaką mogłaś być. Bo taka właśnie byłaś – jestem tego pewien. W tobie, jako partnerce i kobiecie wszystko jest tak bliskie ideału jak tylko może być. Nie jesteś winna tego, że trafiłaś na tragicznego partnera. To był pech. To przez to sprawy potoczyły się tak jak się potoczyły. Nie przez ciebie. Z twojej perspektywy teraz pokochanie siebie, wolność czy czerpanie przyjemności z życia, bez zbędnych obciążeń, może wydawać się bardzo kuszące. Uwierz mi proszę, że zachłyśnięcie się tym podejściem prowadzi do bardzo złych miejsc. Gorszych nawet od tego miejsca, z którego właśnie się wyzwoliłaś. Mam nadzieję, że znajdziesz kogoś, dla kogo pozostaniesz taką, jaka jesteś. Taką, jaka byłaś zawszę. W pełni zaangażowaną, czułą, kochającą, troskliwą. Dasz temu komuś to, co dałaś swojej rodzinie. Z tym wyjątkiem, że ten ktoś to docenić i odwzajemni. Wieżę też w Ala – ona ciebie doceni i odwzajemni twoje uczucia – jest małą tobą. Jestem pewien, że to czego tak pragniesz jest właśnie w tym kim jesteś. To jest w twoim pięknie, które tak przyciąga ludzi do ciebie. Po prostu otaczaj się tylko najlepszymi ludźmi, a wszystko będzie dobrze. Teraz przecież masz już doświadczenie i wiedzę, którzy to mogą być. Proszę miej siłę pozostać taka, jaką cię poznałem, prawdziwą i niewinną.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Najcieplejsza</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Kolejna rzecz, której jestem teraz pewien. Jesteś wyjątkowa! Zanim ciebie poznałem byłem martwy w środku. Byłem pewien, że jestem kompletnie niezdolny do obdarzenia kogokolwiek uczuciem. Tymczasem, gdy dane mi było doświadczać ciebie, wszystko zaczęło się zmieniać. To właśnie ty dźwignęłaś mnie powoli z otchłani nihilizmu. Oczarowany tobą zapragnąłem się zmieniać. Zmieniać w kogoś lepszego. Zapragnąłem tworzyć, budować, chronić, opiekować się, pomagać. Stać się tym, czym prawdziwy mężczyzna powinien być. Wtedy właśnie zapragnąłem byś była centrum mego świata. Świat, który chciałbym zbudować wokół Ciebie, Ali i…, któremu mógł się poświęcić w całości i bez końca. Nawet, gdy uzmysłowiłaś mi, że moje pragnienia nie mogą się zmaterializować, że nie tego chcesz. Twoje wyjątkowe ciepło spowodowało, że starałem się być tym, czym tylko mogłem. Spowodowało, że chciałem odkryć z tobą, choć trochę innego, pięknego świata. Tak byśmy zapisali się w sobie najpiękniejszy możliwy nam sposób. To jest świadectwo tego jak szczególna i wyjątkowa jesteś, jak cudowna i potężna jest twoja magia. Proszę zachowaj tę najpiękniejszą na świecie istotę.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Chcę ci podziękować za to, jaka jesteś, jak byłaś dla mnie. Nigdy nawet nie przypuszczałem, że może istnieć ktoś tak cudowny jak ty. Nie przypuszczałem, że można przeżyć coś takiego. Nie przypuszczałem, że można zakochać się tak szaleńczo w kimś, kto na dodatek, choć trochę odwzajemni uczucie. Dla mnie jesteś, byłaś i zawsze będziesz najpiękniejszą istotą na świecie. Świecie, który niejednokrotnie znikał, gdy patrzyłem w twoje oczy. Do tej pory pamiętam wyraźnie te chwile, gdy kiedy uśmiechałaś się, wszystko wokół Ciebie przestawało istnieć. Byłaś tylko ty i magicznie hipnotyzujące piękno twej urody, oczy mieniące się na złoto, kojący uśmiech rozświetlający całe istnienie.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Życzę ci wszystkiego, co najlepsze. Nie wiem czy ten świat ma do zaoferowania coś, co może dorównać twojej magii. Zasługujesz, bowiem by być kochaną z pasją, do której chyba mało, kto jest zdolny. Mam nadzieję, że znajdziesz miłość dobrej osoby.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Życzę ci abyś odnalazła ponownie taki raj na ziemi, jakiego doświadczyliśmy będąc razem.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Życzę ci abyś pozostała Najsilniejsza, Najpiękniejsza i Najcieplejsza.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Bardzo żałuję, że nie nauczyłem się przemawiać / pisać piękniej. Zasługujesz, bowiem na najpiękniejsze słowa. Zajmujesz najszczególniejsze miejsce w moim sercu i tak będzie już zawsze. Żegnaj Miłości mojego życia.</p>
            <p class="new-font">&nbsp&nbsp&nbsp&nbsp Na zawsze twój…</p>
            <a href="/start">
            <div class="div-przycisk">
                Wersja Oryginalna - Początek
            </div>
            </a>
            <a href="/niegrzeczna">
            <div class="div-przycisk">
                Wersja Oryginalna - Niegrzeczna
            </div>
            </a>
        </div>
    </div>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
    
    <script src="../javasripts/script.js"></script>
</body>
</html>