<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
        <div id="main-image">
            <img src="../images/1.jpg" alt="Zdjęcia" class="slider">
            <img src="../images/napis.png" alt="Napis" class="slider_napis">
        </div>
        <div class="div-opis">
            <p class="new-font">Work in progress</p>
            
            <a href="/start">
            <div class="div-przycisk">
                Wersja Oryginalna - Początek
            </div>
            </a>
            <a href="/niegrzeczna">
            <div class="div-przycisk">
                Wersja Oryginalna - Niegrzeczna
            </div>
            </a>
        </div>
    </div>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>

    <script>
        let activeElement = 0;
        const sliderImgHtml = document.querySelector('.slider');
        const sliderImages = ["../images/1.jpg", "../images/2.jpg", "../images/3.jpg", "../images/4.jpg", "../images/5.jpg"];

        function changeElement(){
            activeElement++;
            if(activeElement == sliderImages.length) activeElement = 0;
            sliderImgHtml.src = sliderImages[activeElement];
        };

        setInterval(changeElement, 4000);
        
    </script>
</body>
</html>