<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>

    <div id="hero-image">
        <h1 id="hero-title"><%= title %></h1>
    </div>
    <div class="div-opis">
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Moja piękna z okazji urodzin życzę Tobie uśmiechu każdego dnia, widoku na świat przez różowe okulary, tylko szczęśliwych dni oraz tego by każda chwila spędzona ze mną dawała Ci radość i na zawsze pozostała w Twojej pamięci.</p>
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp W ten dzień chciałbym podarować Ci twoją własną aplikację internetową. Jest to tylko pierwsza część prezentu. Jeżeli będziemy mieli w przyszłości jakiś pomysł to możemy przerobić ten projekt, w co tylko chcemy. Aplikacja jest napisana w taki sposób, że można dodać do niej wszystko, co nam przyjdzie do głowy. Można dodać ekran logowania, bazę danych po takiej modyfikacji może być to: messenger, kalendarz, miejsce do spisywania przepisów kulinarnych. Co tylko zechcesz? Potrzebuję tylko czasu na naukę bo dużo zapomniałem.</p>
        <p class="new-font">&nbsp&nbsp&nbsp&nbsp Jeżeli jesteś sama w pomieszczeniu i czujesz się niegrzeczna użyj poniższego linku by przejść do kolejnej części prezentu.</p>
        <a href="/niegrzeczna">
            <div class="div-przycisk">
                NIEGRZECZNA
            </div>
        </a>
    </div>
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
</body>
</html>